<div class="row">
  <div class="small-2 large-4 columns">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <fieldset>
        <legend>Edit <%= resource_name.to_s.humanize %></legend>

        <%= devise_error_messages! %>

        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :profile_name %>
        <%= f.input :email %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        <% end %>

        <%= f.input :password,
            placeholder: "Leave blank if you don't want to change it." %>
        <%= f.input :password_confirmation %>
        <%= f.input :current_password,
            placeholder: "Type in your current password to confirm your changes." %>
        <%= f.button :submit, "Update" %>
      <% end %>
    </fieldset>
    <fieldset>
      <legend>Unhappy?</legend>
      <%= button_to "Delete account", registration_path(resource_name),
                data: { confirm: "Are you sure?" }, method: :delete,
                class: "small button radius alert" %>
    </fieldset>
  </div>
</div>

<%= link_to "Back", :back %>
