<div class="row">
  <div class="small-2 large-4 columns">
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <fieldset>
        <legend>Sign In</legend>
        <%= f.input :email %>
        <%= f.input :password %>

        <% if devise_mapping.rememberable? -%>
          <%= f.input :remember_me, as: :boolean %>
        <% end -%>

        <%= f.button :submit, "Sign in" %>
      <% end %>
    </fieldset>
  </div>
</div>

<%= render "devise/shared/links" %>
