<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Treebook" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar hide-for-small">
      <!-- Title Area -->
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="/">Treebook</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a>
        </li>
      </ul>
      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="divider"></li>
          <li class=""><%= link_to "All statuses", statuses_path %></li>
          <% if user_signed_in? %>
            <li class="divider"></li>
            <li class=""><%= link_to "My statuses",
                                     controller: 'profiles',
                                     action: :show,
                                     :id => current_user.profile_name %></li>
          <% end %>
        </ul>
        <!-- Right Nav Section -->
        <ul class="right">
          <% if user_signed_in? %>
            <li class="">
              <%= link_to current_user.full_name, edit_user_registration_path %>
            </li>
            <li class="divider"></li>
            <li class="">
              <%= link_to "Log Out", sign_out_path, method: :delete %>
            </li>
          <% else %>
            <li class="">
              <%= link_to "Log In", sign_in_path %>
            </li>
            <li class="divider"></li>
            <li class="">
              <%= link_to "Register", register_path %>
            </li>
          <% end %>

        </ul>
      </section>
    </nav>

    <section class="main">
      <div class="row">
        <div class="large-12 columns">
          <%= render 'layouts/flashy' %>
          <%= yield %>
        </div>
      </div>
    </section>

    <%= javascript_include_tag "application" %>
  </body>
</html>
